*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

li, a, button {
    text-decoration: none;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;

}

.navbar li :hover{
    background-color: #34353A;  
}


.navbar li a{
    padding: 5px 15px;
}

.navbar li a:hover{
    color: whitesmoke;    
}

.login_container
{
  width:30%; 
  margin:auto; 
  padding:10px 10px 10px 10px;
  background-position:center 10px; 
  background-repeat:no-repeat;
  background-color: #F0F0F0; 
}

.login_container form label
{
  display:block; 
  margin-bottom:.25em; 
}

.login_container form input[type="text"], .login_container input[type="password"], .login_container input[type="submit"]
{
  width:100%;
  margin-bottom:0.5em;
}